<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Convolution App</title>
</head>
<body>

<div style="width: 50%; float: left">
    <form action="/convolve/" method="get">
        {% csrf_token %}
        <table style="padding:15px">
            <tr style="padding:15px">
                <td style="padding:15px" align="center">
                    <label for="{{ form.func1.id_for_label }}">{{ form.func1.label }}</label>
                </td>
                <td style="padding:15px" align="center">
                    <input type="text" id="{{ form.func1.id_for_label }}"
                           name="{{ form.func1.html_name }}" required>
                </td>
                <td style="padding:15px" align="center">
                    <label for="{{ form.func2.id_for_label }}">{{ form.func2.label }}</label>
                </td>
                <td style="padding:15px" align="center">
                    <input type="text" id="{{ form.func2.id_for_label }}"
                           name="{{ form.func2.html_name }}" required>
                </td>
            </tr>
            <tr style="padding:15px">
                <td style="padding:15px" align="center">
                    {{ form.lower_bound.label_tag }}
                </td>
                <td style="padding:15px" align="center">
                    {{ form.lower_bound }}
                </td>
                <td style="padding:15px" align="center">
                    {{ form.upper_bound.label_tag }}
                </td>
                <td style="padding:15px" align="center">
                    {{ form.upper_bound }}

                </td>
            </tr>
        </table>

        <fieldset style="display: inline-block">
            <legend>Advanced Settings</legend>
                <table>
                    <tr style="padding:15px">
                        <td valign="center" style="padding:15px" align="center">
                            <label for="{{ form.points.id_for_label }}">{{ form.points.label }}</label>
                        </td>
                        <td valign="center" style="padding:15px" align="center">
                            <input type="number" id="{{ form.points.id_for_label }}"
                                   name="{{ form.points.html_name }}" value="10000">
                        </td>
                        <td rowspan="2" valign="center" style="padding:15px" align="center">
                            {{ form.method.label_tag }}
                        </td>
                        <td rowspan="2" valign="center" style="padding:15px">
                            <div>
                                <input type="radio" id="{{ form.method.full.id_for_label }}"
                                        name="{{ form.method.html_name }}"
                                       value="full" checked>
                                <label for="{{ form.method.full.id_for_label }}">Full</label>
                            </div>
                            <div>
                                <input type="radio" id="{{ form.method.same.id_for_label }}"
                                       name="{{ form.method.html_name }}" value="same">
                                <label for="{{ form.method.same.id_for_label }}">Same</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td valign="center" style="padding:15px" align="center">
                            <label for="{{ form.include_zero.id_for_label }}">
                                {{ form.include_zero.label }}</label>
                            {{ form.include_zero }}<br/>
                            <label for="{{  form.shade.id_for_label }}">
                                {{ form.shade.label }}</label>
                            {{ form.shade }}
                        </td>
                        <td valign="center" style="padding:15px" align="center">
                            <label for="{{ form.show_func1.id_for_label }}">
                                {{ form.show_func1.label }}</label>
                            {{ form.show_func1 }}<br/>
                            <label for="{{ form.show_func2.id_for_label }}">
                                {{ form.show_func2.label }}</label>
                            {{ form.show_func2 }}
                        </td>
                    </tr>
            </table>
        </fieldset>
        <br/><br/>

        <input type="submit" value="Convolve" formtarget="image_view">
    </form>
    <br/><br/>
</div>

<div style="float: right; width: 50%">
    <iframe name="image_view" height="500" width="100%" align="right"></iframe>
</div>


<fieldset style="display: inline-block">
    <legend>Useful functions</legend>
    <table border="1px">
        <tr>
            <th style="padding:15px" align="center">Function</th>
            <th style="padding:15px" align="center">Syntax</th>
        </tr>
        <tr>
            <td style="padding:15px" align="center">&delta;(t)</td>
            <td style="padding:15px" align="center">lambda x: delta(x)</td>
        </tr>
        <tr>
            <td style="padding:15px" align="center">Unit Step { u(t) }</td>
            <td style="padding:15px" align="center">lambda x: u(x)</td>
        </tr>
        <tr>
            <td style="padding:15px" align="center">Unit Pulse { p(t) }</td>
            <td style="padding:15px" align="center">lambda x: p(x)</td>
        </tr>
    </table>
</fieldset>



</body>
</html>